body {
    font-family: 'Righteous', cursive;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: purple;
    clear: left;
    text-align: center;
}

/*Navbar*/

#nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4d004d;
}

#nav li {
    float: left;
}

#nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav li a:hover {
    background-color: #111;
}

#food {
    float: left;
    width: 250px;
    margin: 0;
    padding: 1em;
    height: 500px;
}

/************************** About Me Page ***************************/


#superpower {
    margin-left: 250px;
    border-left: 1px solid gray;
    padding: 1em;
    height: 500px;
}

img {
    width: 300px;
    float: right;
}


/************************** History Report ***************************/

