body {
    font-family: 'Righteous', cursive;
}

div.container {
    width: 100%;
    border: 1px solid gray;
}

header, footer {
    padding: 1em;
    color: white;
    background-color: purple;
    clear: left;
    text-align: center;
}

#food {
    float: left;
    width: 250px;
    margin: 0;
    padding: 1em;
    height: 500px;
}


#superpower {
    margin-left: 250px;
    border-left: 1px solid gray;
    padding: 1em;
    height: 500px;
}

img {
    width: 300px;
    float: right;
}
